<%= box do %>
<h3><%= :showing_ad.l %>
</h3>
<p>
  <b>
        <%= :name.l %>

    :
  </b>
    <%=  h @ad.name %>

</p>
<p>
  <b>
        <%= :html.l %>

    :
  </b>
    <%=  @ad.html %>

</p>
<p>
  <b>
        <%= :frequency.l %>

    :
  </b>
    <%=  h @ad.frequency %>

</p>
<p>
  <strong>
        <%= :published.l %>

    ?
  </strong>
    <%=  @ad.published? %>

</p>
<p>
  <b>
        <%= :run.l %>

    :
  </b>
    <%=  h @ad.time_constrained? ? "#{@ad.start_date.to_formatted_s(:long)} - #{@ad.end_date.to_formatted_s(:long)}" : 'n/a' %>

</p>
<p>
  <b>
        <%= :location.l %>

    :
  </b>
    <%=  h @ad.location %>

</p>
<%=  link_to :edit.l, edit_ad_path(@ad) %>

|
<%=  link_to :back.l, ads_path %>

<% end %>

