<%= box do %>
<h3><%= :new_metro_area.l %>
</h3>
<%=  error_messages_for :metro_area %>

<%=  form_for(:metro_area, :url => metro_areas_path, :html => {:class => "MainForm"}) do |f| %>
<label><%= :country.l + ":" %>
</label>
<%=  f.collection_select :country_id, Country.find(:all, :order => "name"), :id, :name %>

<label><%= :state.l + ":" %>
</label>
<%=  f.collection_select :state_id, State.find(:all), :id, :name, :include_blank => true %>

<label><%= :name.l + ":" %>
</label>
<%=  f.text_field :name %>

<p>
    <%=  submit_tag :create.l %>

</p>
<%=  link_to :back.l, metro_areas_path %>

<% end %>

<% end %>

