<%= box do %>
<h3><%= :showing_metro_area_details.l %>
</h3>
<p>
  <b>
        <%= :country.l %>

    :
  </b>
    <%=  h @metro_area.country.name %>

</p>
<p>
  <b>
        <%= :state.l %>

    :
  </b>
    <%=  @metro_area.state.name if @metro_area.state %>

</p>
<p>
  <b>
        <%= :name.l %>

    :
  </b>
    <%=  @metro_area.name %>

</p>
<%=  link_to :edit.l, edit_metro_area_path(@metro_area) %>

|
<%=  link_to :back.l, metro_areas_path %>

<% end %>

