<% @section = 'my_clippings' %>
<div class='yui-b'>
    <%= render :partial => 'posts/author_profile', :locals => {:user => @user} %>

  <%  if @is_current_user %>
    <%= box :class => "alt" do %>
  <h3>  <%= :help.l %>
</h3>
  <p>  <%= :clippings_let_you_to_save_cool_images_from_around_the_web.l %>
</p>
  <p>  <%= :drag_the_bookmarklet.l :site => AppConfig.community_name %>
</p>
  <p>  <%= :when_you_see_an_image_you_like_on_the_web.l :site => AppConfig.community_name %>
</p>
  <% end %>

    <%= box :class => 'alt', :id => 'clipping_tools' do %>
  <h3>  <%= :bookmarklet.l %>
</h3>
  <p>  <%= :drag_this_to_your_bookmarks_toolbar.l %>
</p>
  <p>  <%= link_to "#{AppConfig.community_name} it!", clippings_link, :style=>"border:1px solid #ccc; background:#efefef; padding: 5px;", :title=>"#{AppConfig.community_name} "+:scrapbook.l %>
</p>
  <% end %>

  <% end %>
</div>
<div id='yui-main'>
  <div class='yui-b'>
        <%= box :class => "hfeed", :id => 'clippings' do %>
    <h3>    <%= link_to "#{:user_clippings.l :user =>@user.login}", user_clippings_path(@user) %>
</h3>
    <%  if @clippings.any? %>
    <% if @clippings.total_pages > 1 %>
    <div class='pagination'>    <%= paginating_links @clippings %>
</div>
    <% end %>
    <%  @clippings.each do |clipping| %>
    <a href="<%= user_clipping_url(@user, clipping)  %>">

      <img class="clipping polaroid" src="<%= h clipping.image_uri(:thumb)  %>" />

    </a>
    <% end %>
    <%  else %>
    <p>    <%= @is_current_user ? :you_have_no_clippings_use_the_bookmarklet_on_the_right_to_add_some.l : :no_clippings_yet.l %>
</p>
    <% end %>
    <% end %>

        <%= box :class => 'alt', :id => 'tag_list' do %>
    <h3>    <%= :tags.l %>
</h3>
    <%  tag_cloud @tags, %w(nube1 nube2 nube3 nube4 nube5) do |name, css_class| %>
    <%  css_class = css_class + (name.eql?(params[:tag_name]) ? " selected": "") %>
        <%=  link_to name, user_clippings_path(:user_id => @user, :tag_name => name), :class => css_class %>

    <% end %>
    <% end %>

  </div>
</div>
