-content_for :sidebar do
  =rounded_box :div_class => 'posts hfeed bluegray-bg', :id => 'comments' do
    = render :partial => 'posts/author_profile', :locals => {:user => @user} if @user

=rounded_box :div_class => 'posts hfeed bluegray-bg', :id => 'comments' do
  - if @comments.empty?
    #emptycomments= :no_comments_found.l_with_args(:type => @commentable.class.to_s.underscore)
  %h3
    = :comments.l + " -"
    = link_to @title, @back_url

  %a#newest_comment
    = render :partial => 'comments/comment', :collection => @comments

  .pagination=paginating_links @comments if @comments.total_pages > 1

  %h3=:add_your_comment.l
  %p= render :partial => 'comments/comment_form', :locals => {:commentable => @commentable}  
  %div.clearright
        
