<div class='col_full sitemap'>
    <%= box do %>
  <h2>  <%= "#{AppConfig.community_name} Sitemap" %>
</h2>
  <div class='yui-g'>
    <div class='yui-g first'>
      <h3>Categories</h3>
      <ul>
        <%  @categories.each do |c| %>
        <li>        <%= link_to c.name, category_path(c) %>
</li>
        <% end %>
      </ul>
    </div>
    <div class='yui-g'>
      <h3>      <%= :pages.l %>
</h3>
      <ul>
        <li>        <%= link_to :home.l, '/' %>
</li>
        <li>        <%= link_to :users.l, users_path %>
</li>
        <%  Page.find(:all).each do |page| %>
        <%  if (logged_in? || page.page_public) %>
        <li>        <%= link_to page.title, pages_path(page) %>
</li>
        <% end %>
        <% end %>
        <li>        <%= link_to :log_in.l, '/login' %>
</li>
      </ul>
    </div>
  </div>
  <% end %>

</div>
