<% content_for :sidebar do %>
<%=  render :partial => 'shared/admin_nav' %>

<% end %>
<%=  rounded_box :div_class => 'white-fg bluegray-bg' do %>
<div class='right'><%= link_to :new_event.l, new_event_path %>
</div>
<h3><%= :events.l %>
</h3>
<table width='100%'>
  <tr>
    <th>    <%= :name.l %>
</th>
    <th>    <%= :metro_area.l %>
</th>
    <th>    <%= :when.l %>
</th>
    <th>    <%= :actions.l %>
</th>
  </tr>
  <%  for event in @events %>
  <tr>
    <td>    <%= event.name %>
</td>
    <td>    <%= event.try(:metro_area) %>
</td>
    <td>    <%= h event.time_and_date %>
</td>
    <td>
            <%=  link_to :show.l, event_path(event) %>

      |
            <%=  link_to :edit.l, edit_event_path(event) %>

      |
            <%=  link_to :clone.l, clone_event_path(event) %>

      |
            <%=  link_to :destroy.l, event_path(event), :confirm => :are_you_sure.l, :method => :delete %>

    </td>
  </tr>
  <% end %>
</table>
<% end %>

<%=  rounded_box :div_class => 'white-fg bluegray-bg' do %>
<div class='pagination'><%= paginating_links @events if @events.total_pages > 1 %>
</div>
<% end %>

