<% content_for :sidebar do %>
<%=  render :partial => 'shared/admin_nav' %>

<% end %>
<%=  rounded_box :div_class => 'white-fg bluegray-bg' do %>
<div class='right'><%= link_to :new_homepage_feature.l, new_homepage_feature_path %>
</div>
<h3><%= :homepage_features.l %>
</h3>
<table width='100%'>
  <tr>
    <th>    <%= :date_title.l %>
</th>
    <th>    <%= :title.l %>
</th>
    <th>    <%= :description.l %>
</th>
    <th>    <%= :image.l %>
</th>
    <th>    <%= :actions.l %>
</th>
  </tr>
  <%  for homepage_feature in @homepage_features %>
  <tr>
    <td>    <%= h I18n.l(homepage_feature.created_at, :format => :short_published_date) %>
</td>
    <td>
      <a href="<%= h homepage_feature.url %>">
      <%= h homepage_feature.title %>
</a>
    </td>
    <td>    <%= h truncate(homepage_feature.description, :length => 250) %>
</td>
    <td>    <%= image_tag homepage_feature.homepage_feature_file.url(:thumb) %>
</td>
    <td>
            <%=  link_to :show.l, homepage_feature_path(homepage_feature) %>

      <br />
            <%=  link_to :edit.l, edit_homepage_feature_path(homepage_feature) %>

      <br />
            <%=  link_to :destroy.l, homepage_feature_path(homepage_feature), :confirm => :are_you_sure.l, :method => :delete %>

    </td>
  </tr>
  <% end %>
</table>
<% end %>

