<%=  rounded_box :div_class => 'bluegray-bg' do %>
<h3><%= "My Profile" %>
</h3>
<ul class='subsection_tabs'>
  <li class='tab'>
        <%=  link_to 'My Connections', accepted_user_friendships_path(current_user) %>

  </li>
  <li class='tab'>
        <%=  link_to 'Inbox', user_messages_path(current_user) %>

  </li>
  <li class='tab'>
        <%=  link_to 'My Blog', user_posts_path(current_user) %>

  </li>
  <li class='tab'>
        <%=  link_to :my_profile.l, user_path(current_user) %>

  </li>
</ul>
<% end %>

