-content_for :sidebar do
  =render :partial => 'settings/settings_menu'

= form_for @user, :url => update_account_user_url(@user), :html => { :class => 'MainForm', :multipart => true } do |f|
  = rounded_box  :div_class => 'bluegray-bg'  do
    .right= link_to :edit_your_user_profile.l, edit_user_path(@user)
    %h3=:you_are_editing_your_account.l

  = error_messages_for :user

  = rounded_box  :div_class => 'bluegray-bg'  do
    .right= f.submit :save_changes.l  
    %h3="Account Details"
    #ul
      #li
        =f.label :fullname, 'Full Name:' 
        #div=f.text_field :fullname 
      #li
        =f.label :email, (:e_mail_address.l + ':') 
        #div=f.text_field :email 
      #li
        =f.label :company_name, 'Institution Name:' 
        #div=f.text_field :company_name 
      #li
        =f.label :login, (:username.l + ':') 
        #div=f.text_field :login 
      #li
        =f.label :password, :type_your_password.l 
        #div=f.password_field :password 
      #li
        =f.label :password_confirmation, :re_type_your_password_to_confirm.l 
        #div=f.password_field :password_confirmation 

  = rounded_box  :div_class => 'bluegray-bg'  do
    .right= f.submit :save_changes.l  
    %h3=:e_mail_notification.l

    %fieldset
      %label 
        = f.check_box :notify_friend_requests        
        =:notify_of_friend_requests.l :site => AppConfig.community_name
        
      %label
        = f.check_box :notify_comments         
        = :notify_of_comments.l :site => AppConfig.community_name
        
      %label
        = f.check_box :notify_community_news
        =:notify_email_updates.l :site => AppConfig.community_name
        

  = rounded_box  :div_class => 'bluegray-bg'  do
    .right= f.submit :save_changes.l  
    %h3=:profile_privacy.l

    %fieldset
      %label
        = f.check_box :profile_public
        =:make_my_profile_public.l
        %br
        %em
          =:when_checked_your_profile_will_be_visible_to_anyone.l
        %br
        %em
          =:when_unchecked_your_profile_will_only_be_visible_to_people_who_are_logged_in_to.l
          = "#{AppConfig.community_name}."

    %p
      =link_to :deactivate_link.l, deactivate_user_path(@user), :method => :put, :confirm => :deactivate_confirmation.l
      %br
      %label
        %em= :deactivate_tip.l            
