<% content_for :sidebar do %>
<%= render :partial => 'settings/settings_menu' %>

<% end %>
<%=  semantic_form_for @user, :url => user_path(@user), :html => { :multipart => true, :class => 'MainForm' } do |f| %>
<%=  rounded_box :div_class => 'bluegray-bg' do %>
<%= box :class => "alt first_alt" do %>
<h3><%= :you_are_editing_your_profile.l %>
</h3>
<%=  link_to "&raquo; ".html_safe + :edit_your_account_settings_instead.l, edit_account_user_path(@user) %>

<% end %>

<% end %>

<%=  error_messages_for :user %>

<%=  rounded_box :div_class => 'bluegray-bg' do %>
<div class='right'><%= submit_tag :save_changes.l %>
</div>
<h3><%= :profile_photo.l %>
</h3>
<%=  @user.vendor ? "<div class='right_corner'><div class='community_pro'></div></div>".html_safe : '' %>

<%=  image_tag( @user.avatar_photo_url(:thumb), :class => "polaroid" ) %>

<%=  f.inputs :for => :avatar do |avatar_form| %>
<%=  avatar_form.input :photo, :size => '15', :label => :choose_a_photo_for_your_profile.l %>

<% end %>

<% end %>

<%=  rounded_box :div_class => 'bluegray-bg' do %>
<div class='right'><%= submit_tag :save_changes.l %>
</div>
<h3><%= :location.l %>
</h3>
<%=  render :partial => 'shared/location_chooser', :locals => {:selected_country => @user.country_id, :selected_state => @user.state_id, :selected_metro_area => @user.metro_area_id, :states => @states, :metro_areas => @metro_areas} %>

<label>
    <%= :zippostal_code.l %>

</label>
<%=  text_field :user, :zip, :style=>"width:90px" %>

<div class='clear'></div>
<% end %>

<%=  rounded_box :div_class => 'bluegray-bg' do %>
<div class='right'><%= submit_tag :save_changes.l %>
</div>
<h3><%= :about_me.l %>
</h3>
<div class='left'>
    <%=  text_area :user, :description, :class => "rich_text_editor" %>

</div>
<div id='user_description_tip'>
    <%= :tips.l %>

    <%=  render :partial => 'shared/bio_help' %>

    <%= :feel_free_to_embed_images_or_videos.l %>

</div>
<div class='clear'></div>
<% end %>

<%  if @user.vendor? %>
<%=  render :partial => 'offerings/chooser' %>

<% end %>
<%=  rounded_box :div_class => 'bluegray-bg' do %>
<div class='right'><%= submit_tag :save_changes.l %>
</div>
<h3><%= :tags.l %>
</h3>
<div id='user_tags'>
    <%=  text_field_tag 'tag_list', @user.tag_list, {:autocomplete => "off"} %>

  <div class='auto_complete' id='tag_list_auto_complete'></div>
    <%=  auto_complete_field 'tag_list', {:url => { :controller => "tags", :action => 'auto_complete_for_tag_name'}, :tokens => [','] } %>

  <label>
    <em>
            <%= :you_could_tag_yourself.l %>

      <%  if @user.vendor? %>
            <%= :custom_friendly_local.l %>

      <%  else %>
            <%=  AppConfig.meta_keywords.split(",")[0..3].join(", ") %>

      <% end %>
      <br />
            <%= :tags_are_comma_separated_keywords_that_describe_you.l %>

      <br />
            <%= :you_can_browse_all_content_and_users_on.l %>

            <%=  AppConfig.community_name %>

            <%= :by_looking_at_the.l %>

            <%=  link_to :tags_page.l, tags_path %>

    </em>
  </label>
</div>
<% end %>

<% end %>

