<% content_for :sidebar do %>
<%= render :partial => 'settings/settings_menu' %>

<% end %>
<%=  form_for @user, :url => update_account_user_url(@user), :html => { :class => 'MainForm', :multipart => true } do |f| %>
<%=  rounded_box :div_class => 'bluegray-bg' do %>
<div class='right'><%= link_to :edit_your_user_profile.l, edit_user_path(@user) %>
</div>
<h3><%= :you_are_editing_your_account.l %>
</h3>
<% end %>

<%=  error_messages_for :user %>

<%=  rounded_box :div_class => 'bluegray-bg' do %>
<div class='right'><%= f.submit :save_changes.l %>
</div>
<h3><%= "Account Details" %>
</h3>
<div id='ul'>
  <div id='li'>
        <%= f.label :fullname, 'Full Name:' %>

    <div id='div'>    <%= f.text_field :fullname %>
</div>
  </div>
  <div id='li'>
        <%= f.label :email, (:e_mail_address.l + ':') %>

    <div id='div'>    <%= f.text_field :email %>
</div>
  </div>
  <div id='li'>
        <%= f.label :company_name, 'Institution Name:' %>

    <div id='div'>    <%= f.text_field :company_name %>
</div>
  </div>
  <div id='li'>
        <%= f.label :login, (:username.l + ':') %>

    <div id='div'>    <%= f.text_field :login %>
</div>
  </div>
  <div id='li'>
        <%= f.label :password, :type_your_password.l %>

    <div id='div'>    <%= f.password_field :password %>
</div>
  </div>
  <div id='li'>
        <%= f.label :password_confirmation, :re_type_your_password_to_confirm.l %>

    <div id='div'>    <%= f.password_field :password_confirmation %>
</div>
  </div>
</div>
<% end %>

<%=  rounded_box :div_class => 'bluegray-bg' do %>
<div class='right'><%= f.submit :save_changes.l %>
</div>
<h3><%= :e_mail_notification.l %>
</h3>
<fieldset>
  <label>
        <%=  f.check_box :notify_friend_requests %>

        <%= :notify_of_friend_requests.l :site => AppConfig.community_name %>

  </label>
  <label>
        <%=  f.check_box :notify_comments %>

        <%=  :notify_of_comments.l :site => AppConfig.community_name %>

  </label>
  <label>
        <%=  f.check_box :notify_community_news %>

        <%= :notify_email_updates.l :site => AppConfig.community_name %>

  </label>
</fieldset>
<% end %>

<%=  rounded_box :div_class => 'bluegray-bg' do %>
<div class='right'><%= f.submit :save_changes.l %>
</div>
<h3><%= :profile_privacy.l %>
</h3>
<fieldset>
  <label>
        <%=  f.check_box :profile_public %>

        <%= :make_my_profile_public.l %>

    <br />
    <em>
            <%= :when_checked_your_profile_will_be_visible_to_anyone.l %>

    </em>
    <br />
    <em>
            <%= :when_unchecked_your_profile_will_only_be_visible_to_people_who_are_logged_in_to.l %>

            <%=  "#{AppConfig.community_name}." %>

    </em>
  </label>
</fieldset>
<p>
    <%= link_to :deactivate_link.l, deactivate_user_path(@user), :method => :put, :confirm => :deactivate_confirmation.l %>

  <br />
  <label>
    <em>    <%= :deactivate_tip.l %>
</em>
  </label>
</p>
<% end %>

<% end %>

