<div class='yui-b sidebar'>
    <%= render :partial => 'shared/login_sidebar' %>

</div>
<div id='yui-main'>
  <div class='yui-b main_column'>
        <%= box do %>
    <h3>    <%= :resend_your_activation_e_mail.l %>
</h3>
    <%= form_tag resend_activation_url, :class => 'MainForm' do %>
    <label for='email'>    <%= :enter_your_email_address.l %>
</label>
        <%=  text_field_tag 'email', nil, :size => 35 %>

    <p>
            <%=  submit_tag :resend_my_activation_e_mail.l %>

    </p>
    <% end %>
    <% end %>

  </div>
</div>
