<div class='yui-u first'>
    <%= box :class => "fresh" do %>
  <h3>  <%= :whats_fresh.l %>
</h3>
  <%  @recent_activity.each do |activity| %>
    <%= render :partial => "activities/activity", :locals => {:activity => activity } %>

  <% end %>
  <h6 class='all'>  <%= link_to :see_all_activity.l, activities_path %>
</h6>
  <% end %>

</div>
<div class='yui-u'>
    <%= box do %>
  <h3>  <%= :tags.l %>
</h3>
  <%  tag_cloud @popular_tags, %w(nube1 nube2 nube3 nube4 nube5) do |name, css_class| %>
    <%=  link_to name, tag_path(URI.escape(name, /[\/.?#]/)), :class => css_class %>

  <% end %>
  <h6 class='all'>  <%= link_to :all_tags.l, tags_path %>
</h6>
  <% end %>

</div>
