<%= calendar_date_select_includes %>

<%= box do %>
<h3><%= :new_event.l %>
</h3>
<%=  error_messages_for :event %>

<%=  form_for(:event, :url => events_path, :html => {:class => "MainForm"} ) do |f| %>
<label><%= :name.l %>
</label>
<%=  f.text_field :name %>

<label><%= :description.l %>
</label>
<%=  f.text_area :description, :size => "69x10", :class => "rich_text_editor" %>

<label><%= :start_time.l %>
</label>
<%=  f.calendar_date_select :start_time, :time => true %>

<label><%= :end_time.l %>
</label>
<%=  f.calendar_date_select :end_time, :time => true %>

<label>
    <%=  f.check_box :allow_rsvp %>

    <%= :allow_rsvp.l %>

  <br />
  <em>
        <%= :when_checked_users_will_be_able_to_rsvp_for_this_event.l %>

  </em>
</label>
<label><%= :location.l %>
</label>
<%=  f.text_field :location %>

<h3><%= :metro_area.l %>
</h3>
<%=  render :partial => 'shared/location_chooser', :locals => {:selected_country => @country_id, :selected_state => @state_id, :selected_metro_area => @metro_area_id, :states => @states, :metro_areas => @metro_areas} %>

<p>
    <%=  submit_tag :create.l %>

</p>
<% end %>

<%=  link_to :back.l, :back %>

<% end %>

