<%  @section = 'events' %>
<div class='yui-b'>
    <%= box :class => "alt first_alt" do %>
  <%  if @is_admin_user %>
    <%=  link_to :administer_events.l, admin_events_path %>

  <% end %>
    <%=  link_to :see_all_events.l, events_path %>

  <% end %>

    <%= render :partial=>'subscribe' %>

</div>
<div id='yui-main'>
  <div class='yui-b'>
        <%= box :class=>'entry-content event-content' do %>
        <%=  render :partial=>'event', :locals=>{:event=>@event, :show_details_link=>false} %>

        <%=  @event.description %>

    <%  unless @event.attendees.blank? %>
    <p>
      <b>      <%= :attendees.l+':' %>
</b>
      <%  @event.attendees.each do |user| %>
            <%=  link_to h(user.display_name), user_path(user) %>

      <%  if (count = @event.attendees_for_user(user)) > 1 %>
            <%=  "(+#{count-1})" %>

      <% end %>
      <% end %>
    </p>
    <% end %>
    <% end %>

        <%= box :class => 'hfeed comments', :id => 'comments' do %>
    <h3>    <%= :event_comments.l %>
</h3>
    <h2>    <%= :add_your_comment.l %>
</h2>
    <p>    <%= render :partial => 'comments/comment_form', :locals => {:commentable => @event} %>
</p>
    <a id='newest_comment'></a>
        <%=  render :partial => 'comments/comment', :collection => @comments %>

    <span id='more_comments_links'>    <%= more_comments_links(@event) %>
</span>
    <% end %>

    <!-- ends box -->
  </div>
</div>
