<div class='yui-b'>
    <%=  render :partial => 'shared/explore' %>

    <%=  render :partial => 'shared/contact' %>

</div>
<div id='yui-main'>
  <div class='yui-b'>
        <%= box :class=>'entry-content page-content' do %>
    <h3>    <%= @page.title %>
</h3>
        <%=  @page.body %>

    <% end %>

  </div>
</div>
