<div class='profile'>
  <div class='yui-b'>
        <%=  render :partial => 'posts/author_profile', :locals => {:user => @album.user} %>

        <%=  link_to :back_to_photo_manager.l, user_photo_manager_index_path(@album.user) %>

  </div>
  <div id='yui-main'>
    <div class='yui-b'>
            <%= box :class => "hfeed" do %>
      <h3>      <%= h @album.title %>
</h3>
      <p>      <%= h @album.description %>
</p>
      <h3>      <%= :photos_of_this_album.l %>
</h3>
      <div class='yui-u box' id='photos'>
        <%  @album_photos.each do |photo| %>
                <%=  link_to image_tag( photo.photo.url(:thumb), :class => "polaroid"), user_photo_path(photo.user, photo) %>

        <% end %>
        <div class='pagination'>        <%= paginating_links @album_photos if @album_photos.total_pages > 1 %>
</div>
      </div>
      <% end %>

            <%= box :class => "hfeed comments", :id => 'comments' do %>
      <h3>      <%= :album_comments.l %>
</h3>
      <h2>      <%= :add_your_comment.l %>
</h2>
      <p>      <%= render :partial => 'comments/comment_form', :locals => {:commentable => @album} %>
</p>
      <a id='newest_comment'></a>
            <%=  render :partial => 'comments/comment', :collection => @album.comments %>

      <span id='more_comments_links'>      <%= more_comments_links(@album) %>
</span>
      <% end %>

    </div>
  </div>
</div>
