<div class='yui-b sidebar'>
    <%=  render :partial => 'shared/admin_nav' %>

</div>
<div id='yui-main'>
    <%= box :class => "yui-b" do %>
  <h3>  <%= :editing_tag.l %>
</h3>
    <%=  form_for(:tag, :url => tag_path(@tag), :html => { :method => :put, :class => "MainForm" }) do |f| %>
  <label>
        <%= :name.l %>

    :
  </label>
    <%=  f.text_field :name %>

  <p>
        <%=  submit_tag :update.l %>

  </p>
  <% end %>

    <%=  link_to :show.l, tag_path(@tag) %>

  |
    <%=  link_to :back.l, admin_tags_path(:action=>:manage) %>

  <% end %>

</div>
