<% content_for :sidebar do %>
  <%= render :partial => 'forums/community_nav' %>
<% end %>

<% @section = 'forums' %>
<% @page_title = search_posts_title %>

<%= rounded_box :div_class => 'bluegray-bg' do %>
  <%= link_to :forums.l, forum_home_path %>

  <span class='arrow'>&rarr;</span>
  <%= h @page_title %>
<% end %>

<%= rounded_box :div_class => 'bluegray-bg' do %>
  <div class='right'><%= link_to :forums.l, forums_path %></div>
  <h3>
    <% if params[:q].blank? %>
      <%= @page_title %>
    <% else %>
      <%= "#{:searching_for.l} '#{h params[:q]}'" %>
    <% end %>
  </h3>
  <p class='subtitle'>
    <%= feed_icon_tag @page_title, all_sb_posts_path(:format => 'rss') %>
    <%= :post_found.l(:count => @posts.size) %>
  </p>
  <% if @posts.total_pages > 1 %>
    <div class='pagination'>
      <%= # paginating_links @posts %>
    </div>
  <% end %>
  <table border='0' cellpadding='0' cellspacing='0' class='posts wide' width='100%'>
    <% for post in @posts do %>
      <% unless post == @posts.to_a.first %>
        <tr class='spacer'>
          <td colspan='2'>
            &nbsp;
          </td>
        </tr>
      <% end %>
      <tr class="post" id="<%= dom_id(post) %>">
        <td class='author vcard'>
          <div class='date'>
            <abbr class="updated" title="<%= post.created_at.xmlschema %>">
              <%= sensible_time_ago(post.created_at) %>
            </abbr>
          </div>
          <%= avatar_for @users[post.user_id] %>

          <span class='fn'>
            <%= link_to truncate(h(@users[post.user_id].display_name), :length => 15), user_path(post.user) %>
          </span>
          <span class='posts'>
            <%= pluralize @users[post.user_id].sb_posts_count, :post.l %>
          </span>
        </td>
        <td class='body entry-content'>
          <p class='topic'>
            <%= link_to(h(post.forum_name), forum_path(post.forum)) %> 
            /
            <%= link_to h(post.topic_title), forum_topic_path(post.forum, post.topic) %>
          </p>
          <%= # post.body_html %>
        </td>
      </tr>
    <% end %>
  </table>
  <% if @posts and @posts.next_page %>
    <p style='float:right;'></p>
    <%= link_to :next_page.l, { :page => @posts.next_page }.merge(params.reject{|k,v| k=="page"}) %>
  <% end %>
  <% if @posts.total_pages > 1 %>
    <div class='pagination'>
      <%= # :pages.l %>
      <strong>
        <%= # paginating_links @posts %>
      </strong>
    </div>
  <% end %>
<% end %>
