<div class='profile'>
  <div class='yui-b'>
        <%=  render :partial => 'posts/author_profile', :locals => {:user => @user} %>

    <%  if @photo.album %>
        <%= box :class => "photo_nav alt" do %>
    <h3>    <%= "#{:album.l}: #{link_to @photo.album.title, user_album_path(@user, @photo.album)}" %>
</h3>
        <%=  link_to "<img src='#{@photo.previous_in_album.photo.url(:thumb)}' /><br />&laquo; ".html_safe + :previous.l, user_photo_path(@user, @photo.previous_in_album), :class => 'left' if @photo.previous_in_album %>

        <%=  link_to "<img src='#{@photo.next_in_album.photo.url(:thumb)}' /><br />".html_safe + :next.l + "&raquo;".html_safe, user_photo_path(@user, @photo.next_in_album), :class => 'right' if @photo.next_in_album %>

    <% end %>

    <%  elsif @previous || @next %>
        <%= box :class => "photo_nav alt" do %>
        <%=  link_to "<img src='#{@previous.photo.url(:thumb)}' /><br />&laquo; ".html_safe + :previous.l, user_photo_path(@user, @previous), :class => 'left' if @previous %>

        <%=  link_to "<img src='#{@next.photo.url(:thumb)}' /><br />".html_safe + :next.l + "&raquo;".html_safe, user_photo_path(@user, @next), :class => 'right' if @next %>

    <% end %>

    <% end %>
    <%  if @related.any? %>
        <%= box :class => "alt" do %>
    <h3>    <%= :related_photos_all_members.l %>
</h3>
    <div class='centered'>
      <%  @related.each do |photo| %>
            <%=  link_to image_tag( photo.photo.url(:thumb), :class => "polaroid"), user_photo_path(photo.user, photo), {:title => :photo_from_user.l_with_args(:photo_description => h(photo.description), :user => photo.user.login)} %>

      <% end %>
    </div>
    <% end %>

    <% end %>
  </div>
  <div id='yui-main'>
    <div class='yui-b'>
            <%= box :class => "hfeed" do %>
      <h3>
                <%=  link_to :users_photos.l_with_args(:user => @user.login), user_photos_path(@user) %>

        :
                <%=  link_to h(@photo.display_name), user_photo_path(@user, @photo) %>

      </h3>
      <%  if @is_current_user %>
            <%= box :class => "alt" do %>
            <%=  link_to :make_this_my_profile_photo.l, change_profile_photo_user_path({:id => @user, :photo_id => @photo}), :method => :put %>

      |
            <%=  link_to :edit_this_photo_details.l, edit_user_photo_path(@user, @photo) if @is_current_user %>

      |
            <%=  link_to(:delete_this_photo.l, user_photo_path(@user, @photo), :method => :delete) + tag(:br, class => 'clear') %>

      <% end %>

      <% end %>
      <p class='centered'>      <%= image_tag( @photo.photo.url, :class => "polaroid" ) %>
</p>
      <p>      <%= h @photo.description %>
</p>
      <p>      <%= @photo.tags.collect{|t| link_to( h(t.name), tag_url(t), :class => 'tag') }.join(" ") %>
</p>
      <% end %>

            <%= box :class => "hfeed comments", :id => 'comments' do %>
      <h3>      <%= :photo_comments.l %>
</h3>
      <h2>      <%= :add_your_comment.l %>
</h2>
      <p>      <%= render :partial => 'comments/comment_form', :locals => {:commentable => @photo} %>
</p>
      <a id='newest_comment'></a>
            <%=  render :partial => 'comments/comment', :collection => @photo.comments %>

      <span id='more_comments_links'>      <%= more_comments_links(@photo) %>
</span>
      <% end %>

    </div>
  </div>
</div>
