<div class='hentry'>
  <h4 class="entry-title" id="post_<%=  post.id %>">

        <%=  link_to post.title, user_post_path(post.user, post), :rel => 'bookmark' %>

  </h4>
  <div class='vcard author'>
    <h5>
      <a class="photo" href="<%= user_post_path(post.user, post) %>" rel="bookmark">

                <%= image_tag((post.first_image_in_body || post.user.avatar_photo_url(:thumb)), :alt=>"", :width=>"50", :height=>"50") %>

      </a>
    </h5>
    <ul>
      <li class='fn'>      <%= link_to post.user.login, user_path(post.user) %>
</li>
      <li class='update'>
        <a href="<%= user_post_path(post.user, post) %>" rel="bookmark">

          <abbr class="published" title="<%= post.published_at %>">
          <%= post.published_at_display(:short_literal_date) %>
</abbr>
        </a>
      </li>
      <li class='view'>
                <%=  :views.l %>

                <%=  "(#{post.view_count})" %>

      </li>
      <li class='comments'>
                <%=  link_to :comments.l+" (#{post.comments.count})", user_post_path(post.user, post)+'#comments' %>

      </li>
      <%  if current_user and current_user.can_request_friendship_with(post.user) %>
      <li class='addfriend'>      <%= add_friend_link(post.user) %>
</li>
      <% end %>
    </ul>
  </div>
  <div class='entry-content'>
        <%=  truncate_words(post.post, :length => 750).html_safe %>

        <%=  render :partial => 'polls/excerpt', :locals => {:poll => post.poll} if post.poll %>

    <h6>    <%= link_to :read_more.l, user_post_path(post.user, post), :rel=> 'bookmark' %>
</h6>
  </div>
  <div class='clear'></div>
</div>
