<div id="send_to_friend" style="width:500px;height:100px" >
  <%= form_tag( { 
    :remote => true,
    :loading => "$('send_to_friend_spinner').show();", 	
    :url => send_to_friend_user_post_path(:user_id => params[:user_id], :id => params[:id]), 
    :complete => "$('send_to_friend_spinner').hide();", 	
    500 => "$$('div#send_to_friend div.errors')[0].innerHTML = request.responseText; return false;",
    :success => "alert('"+:messages_sent.l+"'); Lightview.hide(); return false;"
  } ) do -%>
    <div class="errors"></div>	
    <div class="inline_pair">
      <label style="width:175px" for="message"><%= :enter_a_message.l %></label>
      <input type="text" name="message" value="<%= :this_story_is_awesome.l %>" />
    </div>
    <div class="inline_pair">
      <label style="width:175px" for="message"><%= :enter_e_mail_addresses_comma_sep.l %></label>
      <input type="text" name="emails" id="emails"/>
      <a href="#" onclick="showPlaxoABChooser('emails', '/base/plaxo'); return false;">
        <img style="vertical-align:middle" src="http://www.plaxo.com/images/abc/buttons/add_button.gif" alt=<%= :add_from_my_address_book.l %> />
      </a>
    </div>
    <%= submit_tag :send.l %>
  <% end -%>
</div>
