<% @section = 'posts' %>
<div class='yui-b'>
    <%= box :class => "alt first_alt" do %>
  <h3>  <%= :featured_writers.l %>
</h3>
  <%  @featured_writers.each do |user| %>
    <%=  render :partial => "users/sidebar_user", :locals => {:user => user} %>

  <% end %>
  <% end %>

</div>
<div id='yui-main'>
  <div class='yui-b'>
        <%= box :class => "hfeed" do %>
    <h3>    <%= :featured_posts.l %>
</h3>
    <div class='pagination'>    <%= paginating_links @posts if @posts.total_pages > 1 %>
</div>
        <%=  render :partial => 'posts/post', :collection => @posts %>

    <% end %>

  </div>
</div>
