<%  @section = 'posts' %>
<% content_for :sidebar do %>
<%= render :partial => 'forums/community_nav' %>

<% end %>
<%=  rounded_box :div_class => 'bluegray-bg hfeed' do %>
<div class='right'>
  <ul class='list checks'>
    <li>    <%= link_to :write_a_blog_post.l, new_user_post_path({:user_id => current_user}) %>
</li>
  </ul>
</div>
<h3>
    <%= :recent_posts.l %>

</h3>
<%=  render :partial => 'posts/post', :collection => @posts %>

<div class='pagination'><%= paginating_links @posts %>
</div>
<div class='clear'></div>
<% end %>

