<%=  rounded_box :div_class => 'bluegray-bg' do %>
<h3><%= :whats_fresh.l %>
</h3>
<%= render :partial => "activities/activity", :collection => @activities %>

<div class='pagination'><%= paginating_links @activities if @activities.total_pages > 1 %>
</div>
<% end %>

<%=  rounded_box :div_class => 'bluegray-bg' do %>
<h3><%= :tags.l %>
</h3>
<%  tag_cloud @popular_tags, %w(nube1 nube2 nube3 nube4 nube5) do |name, css_class| %>
<%=  link_to name, tag_path(URI.escape(name, /[\/.?#]/)), :class => css_class %>

<% end %>
<h6 class='all'><%= link_to :all_tags.l, tags_path %>
</h6>
<% end %>

